.App {
  text-align: center;
  position:relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-title{
  position:absolute  ;
}


.btn-Img-main{
  background-color: #1b1b1b;
  width: 18%;
  height: 935px;
  position:absolute  ;
  /* display: inline-block; */
  top: 0%;
  left: 0%;
  /* margin-left: 25rem; */
}
.btn-inner{
  position:absolute;
  /* background-color: #dbdbdb; */
  top: 60%;
  left: 35%;
}
.btn-inner .btn-Img{
margin: 10px;
background-color: darkgray;
padding: 12px;
}

.checkbox{
  padding: 25px;

}



.btn-Img-main ul {
  position:absolute;
  top: 15%;
  left: 0%;
}

.btn-Img-main ul li{
  
  color: white;
  list-style: none;
  font-size: 20px;
  text-align: left;
  font-weight: 700;
}